# Deployment target: 'docker' or 'cloudflare'
DEPLOY_TARGET=docker

# Bypass git checks for local development mode
TINA_PUBLIC_IS_LOCAL=true

# GitHub Token for TinaCMS Github Provider
GITHUB_PERSONAL_ACCESS_TOKEN=

# Redis Connection URl
REDIS_URL=redis://localhost:6379

