# Enable CMS: 'true' for SSR with TinaCMS backend, omit or set to anything else for static site
ENABLE_CMS=true

# Bypass git checks for local development mode
TINA_PUBLIC_IS_LOCAL=true

# GitHub Token for TinaCMS Github Provider
GITHUB_PERSONAL_ACCESS_TOKEN=

# Redis Connection URl
REDIS_URL=redis://localhost:6379

